body{
    background-color: #000000;
}

.box1{
    background-color: #3f729d;
    width: 520px;
    height: 480px;
    border: 1px solid black;
    margin: auto;
}

.header{
    height: 46px;
    border-bottom: 1px solid #1f4d6b;
    box-shadow: #2c5d7d 0px 3px 5px;
    background-color: #57a4de;
}

.header button{
color: white;
    background-color: #5498c6;
    border-radius: 4px;
    height: 34px;
    width: 70px;
    position: relative;
    left: 60%;
    top: 2px;
}

.loginform{
    width: 65%;
    height: 370px;
    background-color: #d5e7f5;
    margin: auto;
    border-radius: 6px;
     border: 1px solid whitesmoke;
}

.loginform2{
    width: 90%;
    margin: auto;
    height: 339px;
}

.facebook_button_div{
    text-align: center;
}

.facebook_button_div img{
    width:90%;
    height: 43px;
}

.formdiv{
    text-align: center;
}

.formdiv input{
    width: 90%;
    border-radius: 3px;
    border: 1px solid grey;
    height: 33px;
    padding-left: 9px;
}
.formdiv p{
    margin: 0px;
    padding: 0px;
}
.createaccount{
    text-align: left;
    color: #0076bc;
    margin-left: 17px !important;
    padding-bottom: 5px !important;
}
.myinputs{
    margin-bottom: 9px !important;
}

.dropdownmenu, .terms{
    font-size: 11px;
}
.getstarted{
    text-align: right;
}
.getstarted button{
    width: 130px;
    height: 52px;
    background-color: #87b824;
    border: 1px solid #73a322;
    border-radius: 5px;
    color: white;
    margin-top: 11px;
    margin-right: 15px;
    font-weight: bold;
}
.terms a{
    color: #0080c8;
    text-decoration: none;
    font-weight: bold;
}

.myor{
    width: 89%;
    margin: auto;
}
.myor div{
    display: inline-block;
}

.myor div:first-child{
    width: 40%;
}

.myor div:nth-child(2){
    width: 16%;
    text-align: center;
    position: relative;
    top: -9px;
}

.myor div:last-child{
    width: 40%;
}