body{
    background-color: #ffe837;
    color: black;}

.palov{width:300px;
    height:300px;
    border: 5px double;
    color: red;}

.chuchvara{width:300px;
    height:300px;
    border: 5px double;
    color: red;}