body{
    background-color: mediumvioletred;
}


.table th, .table td {
    border:none;
}

.box{
    height:600px;
    width: 1000px;
    background-color: #dddddd;
    margin: auto;
    text-align: center;
}
.logo{
    background-color: #c97843;
    height:50px;
    width: 100%;
    color: white;
}
.logo img{
    width: 150px;
    height:50px;
}
.text{
    text-align: right;
    float: right;
    margin: 15px 15px 15px 15px;
}
.text1{
    margin: 40px ;
    margin-top: 10px ;
}
.left{
    color: #c87c42;
    margin: 40px;
    margin-top: 15px;
}
.right{
    color: #ca7e44;

}

.middle_texts div{
    width: 49%;
    display: inline-block;
}

.middle_texts{
  margin-bottom: 20px;
    font-size: 1.5em;
    font-family: "American Typewriter";
    color: #cd784d;
    font-weight: bold;

}

.middle_content div:first-child{
    position: relative;
    top: -21px;
    border-right: 1px dotted #4f4f4f;
    margin-right: 10px;
}

.middle_content div:nth-child(2){
    margin-left: 70px;
}

.middle_content div{
    width: 40%;
    display: inline-block;

}

.legalshield_logo{
    width: 80%;

}

table tr{
    border-bottom: 1px dotted grey;
}

table td{
    text-align: left;
}

.price{
    font-size: 4em;
    font-family: "American Typewriter";
    color: #cd784d;
    position: relative;
    top: -20px;
    font-weight: bolder;
}
